h1{
  text-align: center;
  border-style: groove;
  margin-left: 21%;
  margin-right: 21%;
  padding-bottom: 10px;
  border-color: #044C62;
  border-width: thin medium thick;
}
.userInput{
  text-align: center;
}
img{
  max-width: 90%;
  max-height: auto;
  border-radius: 50%;
  margin: 15px;
  width: 50%;
}
#number{
  display: block;
  margin: 0 auto;
}
body{
  padding: 20px;
}
#result{
  text-align: center;
}